/*header {
    background-color: #234343;
    width: 100%;
    color: #CFDBDC;
}*/

header img {
    margin: 0 auto;
    width: 4%;
    filter: invert(99%) sepia(65%) saturate(164%) hue-rotate(134deg) brightness(88%) contrast(95%);
}