.card {
    width: 15%;
    flex-basis: 300px;

    border: 2px solid gray;
    border-radius: 10px;

    height: auto;
    text-align: center;

    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 2px auto;
}