.card {
    width: 15%;
    flex-basis: 300px;

    border: 2px solid gray;
    border-radius: 10px;

    height: auto;
    text-align: center;

    align-items: center;
}

.card-gif  {
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 2px auto;
}

.pin-icon {
    width: 13%;
    float: right;
}

.pin-icon:hover {
    cursor: pointer;
}

.pinned {
    filter: brightness(0) saturate(100%) invert(24%) sepia(84%) saturate(6429%) hue-rotate(355deg) brightness(88%) contrast(103%);
}

.unpinned {
    filter: none;
}